{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('CSS/styles_edit_producto.css') }}">
{% endblock %}

{% block title %}Edit Producto{% endblock %}

{% block body %}
    <nav clas = "navbar">
        <a href="{{ path('app_producto_index') }}">
            <i class='bx bx-arrow-back'></i>
            <span>Back</span>
        </a>
         <div class="navbar-brand">Droguisalud</div>
    </nav>

     <div class="container">
        <h1 class = "titulo">Editar producto</h1>
        {{ include('producto/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('producto/_delete_form.html.twig') }}
        
    </div>

    
{% endblock %}
