{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="shortcut icon" href="src/Icons/icon.png">
    <link rel="stylesheet" href="{{ asset('CSS/styles_insert_producto.css') }}">
{% endblock %}

{% block title %}Producto index{% endblock %}

{% block body %}
    <nav clas = "navbar">
        <div class="navbar-brand">Droguisalud</div>
        <div class="buscar">
            <input type="text" id="busqueda" name = "busqueda"  required placeholder = "Buscar">
            <input type="submit" value = "enviar">
        </div>
        <a href="{{ path('app_producto_new') }}" class ="btn-create">Crear producto</a> 
    </nav>
    <div class="table-container">
        <div class="table-title">
            <h1 class = "titulo">Inventario</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th class ="primero">Id</th>
                        <th>Nombre</th>
                        <th>Unidad</th>
                        <th>Precio</th>
                        <th>Precio Unitario</th>
                        <th>Costo</th>
                        <th>IVA %</th>
                        <th>Cantidad</th>
                        <th class ="ultimo">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for producto in productos %}
                    <tr>
                        <td data-label="Id">{{ producto.id }}</td>
                        <td data-label="Nombre">{{ producto.prdNombre }}</td>
                        <td data-label="Unidad">{{ producto.prdUnidad }}</td>
                        <td data-label="Precio">{{ producto.prdPrecio }}</td>
                        <td data-label="Precio Unitario">{{ producto.prdPrecioUnitario }}</td>
                        <td data-label="Costo">{{ producto.prdCosto }}</td>
                        <td data-label="IVA">{{ producto.prdIva }}</td>
                        <td data-label="Cantidad">{{ producto.prdCantidad }}</td>
                        <td>
                            <a href="{{ path('app_producto_show', {'id': producto.id}) }}" class ="btn">Visualizar</a>
                            <a href="{{ path('app_producto_edit', {'id': producto.id}) }}" class = "btn">Editar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>    
    </div>
        
{% endblock %}
