{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/styles_show_product.css') }}">
{% endblock %}
{% block title %}Producto{% endblock %}

{% block body %}
    <div class="table-container">
        <h1 class ="titulo">Producto</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td  data-label= "Id">{{ producto.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td  data-label= "Nombre">{{ producto.prdNombre }}</td>
                </tr>
                <tr>
                    <th>Unidad</th>
                    <td  data-label= "Unidad">{{ producto.prdUnidad }}</td>
                </tr>
                <tr>
                    <th>Precio</th>
                    <td  data-label="Precio">{{ producto.prdPrecio }}</td>
                </tr>
                <tr>
                    <th>Precio Unitario</th>
                    <td  data-label="Precio Unitario">{{ producto.prdPrecioUnitario }}</td>
                </tr>
                <tr>
                    <th>Costo</th>
                    <td  data-label="Costo">{{ producto.prdCosto }}</td>
                </tr>
                <tr>
                    <th>IVA %</th>
                    <td  data-label="IVA %">{{ producto.prdIva }}</td>
                </tr>
                <tr>
                    <th>Cantidad</th>
                    <td  data-label="Cantidad">{{ producto.prdCantidad }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class = "btn-container">
        <a href="{{ path('app_producto_index') }}" class ="btn-view">back to list</a>

        <a href="{{ path('app_producto_edit', {'id': producto.id}) }}" class = "btn-view">edit</a>

        {{ include('producto/_delete_form.html.twig') }}
    </div>
{% endblock %}
