{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('CSS/styles_show_product.css') }}">
{% endblock %}
{% block title %}Producto{% endblock %}

{% block body %}
    <nav clas = "navbar">
        <a href="{{ path('app_producto_index') }}">
            <i class='bx bx-arrow-back'></i>
            <span>Back</span>
        </a>
        <div class="navbar-brand">Droguisalud</div>
    </nav>
    
    <div class="table-container">
        <h1 class ="titulo">Producto</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td  data-label= "Id">{{ producto.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td  data-label= "Nombre">{{ producto.prdNombre }}</td>
                </tr>
                <tr>
                    <th>Unidad</th>
                    <td  data-label= "Unidad">{{ producto.prdUnidad }}</td>
                </tr>
                <tr>
                    <th>Precio</th>
                    <td  data-label="Precio">{{ producto.prdPrecio }}</td>
                </tr>
                <tr>
                    <th>Precio Unitario</th>
                    <td  data-label="Precio Unitario">{{ producto.prdPrecioUnitario }}</td>
                </tr>
                <tr>
                    <th>Costo</th>
                    <td  data-label="Costo">{{ producto.prdCosto }}</td>
                </tr>
                <tr>
                    <th>IVA %</th>
                    <td  data-label="IVA %">{{ producto.prdIva }}</td>
                </tr>
                <tr>
                    <th>Cantidad</th>
                    <td  data-label="Cantidad">{{ producto.prdCantidad }}</td>
                </tr>
                <tr>
                    <th>Proveedor</th>
                    <td  data-label= "Proveedor">{{ producto.getProvName()}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class = "btn-container">
        <a href="{{ path('app_producto_edit', {'id': producto.id}) }}" class = "btn-view">edit</a>
        {{ include('producto/_delete_form.html.twig') }}
    </div>
{% endblock %}
